.navbar-custom {
    margin-bottom: 10px;
    width: 100%;
    background-color: black;
    padding: 15px 15px;
    display: inline-block;
}

.navbar-custom a{
    text-decoration: none; /*remove hyperlink*/
    color: white;
    font-size: 18px;
    padding: 15px; /*spaces*/
}

/* Change background color of tab on hover */
.navbar-custom a:hover {
    background-color:gray;
}

/* Change background color of current tab */
.navbar-custom .current {
    background-color: gray;
}

input[type=submit] {
    background:grey;
    border-radius: 5px;
}

table, th, td{
    border: 1.5px solid black;
    border-collapse: collapse;/*collapsed into a single border*/
}

td {
    font-weight: normal;
}

th{
    text-align:left;
}

/* change with window size*/
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap:2rem;
}

.child { 
  overflow: hidden;
}

img{
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

video {
    width: 250px;
    height: 320px;
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image/Video) */
  .modal-content{
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /* For back to top button */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: pink; /* Add a dark-grey background on hover */
  }

